.custom-table {
  border-radius: 10px;
  border: 3px solid #f0f0f0;
  overflow: hidden;
  border-collapse: separate;
  width: 100%;
  table-layout: fixed;
}

.custom-table thead tr {
  background-color: #f0f0f0;
}

.custom-table th,
.custom-table td {
  border: none;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.custom-table tbody tr {
  border-bottom: none;
}

.color-bars {
  margin-top: 0; /* Usunięcie górnego marginesu, aby kolorowe paski były wyrównane */
  width: 80%; /* Zmniejszenie szerokości, aby paski były bliżej centrum */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 5px;
}

.bar {
  width: 30%;
  height: 5px;
  border-radius: 2px;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

th {
  text-align: center;
  vertical-align: middle;
}

.custom-table th > div {
  margin-top: 0; /* Wyrównanie z innymi elementami */
}

/* Stylizacja dla statusów */
.status {
  border-radius: 15px;
  padding: 10px 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: white;
}

.status.free {
  background-color: green; /* Zielony dla wolnego */
}

.status.in-duty {
  background-color: orange; /* Pomarańczowy dla osoby w trakcie dyżuru */
}

.status.busy {
  background-color: red; /* Czerwony dla zajętej osoby */
}
.action-buttons {
  display: flex;
  justify-content: center; /* Wyśrodkowanie przycisków */
  align-items: center;
  gap: 5px; /* Odstęp między przyciskami */
}

.action-button {
  background-color: #cccccc; /* Szare tło */
  border: none;
  border-radius: 50%;
  width: 40px; /* Ustalona szerokość i wysokość dla przycisku */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #aaaaaa; /* Ciemniejsze szare tło po najechaniu */
}

.action-button img {
  width: 20px; /* Rozmiar ikony wewnątrz przycisku */
  height: 20px;
}
